<html>
    <head>
        <title>WgWgFactory</title>
    </head>
    <body>
        <div>
            <h1><a href="">Modulabs</a></h1>
        </div>

        <div>
            <p>published: 2019.12.04</p>
            <h2><a href="">와글와글 팩토리 프로젝트</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 2019.12.04</p>
            <h2><a href="">커리큘럼 설명</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>